{% extends "dashboard.html" %}



{% block element %}
<body class="bg-dark">
  <div class="container">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="card card-register mx-auto mt-5">
        {% for message in messages %}
          <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
              <div class="mr-5"></div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">{{ message }}</span>
            </a>
          </div>
        {% endfor %}
     </div>
        {% endif %}
     {% endwith %}
       <div class="breadcrumb_div">
         
       <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Charts</li>
        </ol>
       </div>

     <div class="row">
        <div class="col-md-43">
          <label>Course Code</label>
            <select class="form-control" id="course">
              {% for unit in units %}
                <option value="{{ unit.id }}"> {{ unit.code }} - {{ unit.name }} </option>
              {% endfor %}
            </select>
          </div>
        <div class="col-md-3">
          <label>Date</label>
          <select class="form-control" id="dates">
          </select>
        </div>
        <div class="col-md-6">
            <label>Date Range</label>
            <input class="form-control" type="text" name="dateRange" id="dateRange">
        </div>
    </div>
  <div class="row chart">
      <div class="col-md-6">
        <canvas id="chart" height="200"></canvas>
      </div>
    </div>
    <h2>Student Attendance Per Day</h2>
    <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                {% for student in students %}
                   <tr>
                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
  </div>
</body>

<style type="text/css">
  .breadcrumb_div {
    margin-top: 50px;
  }
</style>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>


  <script type="text/javascript">

    function getDates() {

    }

    $(document).ready(function(){
      $('#dateRange').daterangepicker({
        locale: {
            format: 'DD/MM/YYYY',
        }
      });

      $('#dateRange').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));$
          console.log('Changed to ', $(this).val());
          getDataRange();
      });

      var ctx = document.getElementById("chart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [],
              datasets: [{
                  label: 'Class Attendance By Date',
                  data: [],
                  borderWidth: 1,
                  backgroundColor: 'rgba(253, 203, 110,1.0)',
              }]
          },
          options:{
           scales: {
               yAxes: [{
                   ticks: {
                       beginAtZero: true,
                       steps: 10,
                       stepValue: 5,
                       userCallback: function(label, index, labels) {
                           if (Math.floor(label) === label) {
                               return label;
                           }
                       },
                   }
               }],
           },
       },

      });

      function removeData(chart) {
          chart.data.labels.pop();
          chart.data.datasets.forEach((dataset) => {
              dataset.data.pop();
          });
          chart.update();
      }

      function addData(chart, label, data) {
          chart.data.labels.push(label);
          chart.data.datasets.forEach((dataset) => {
              dataset.data.push(data);
          });
          chart.update();
      }

      function getData(unit_id) {
          var date = $('#dates').val();
          console.log('getData()');

          if (date) {
              $.ajax({
                url: `/get_attendance_dates/${unit_id}/${date}`,
                success: function(data) {
                  var students_attendance = data.students_attendance;
                  $('#tableBody').empty();
                  students_attendance.forEach(function(student){
                    $('#tableBody').append(`
                        <tr>
                        <td>${student.student_id}</td>
                        <td>${student.first_name}</td>
                        <td>${student.last_name}</td>
                        <td>${student.attended_on}</td>
                      </tr>
                      `)
                  })
                  removeData(myChart);
                  addData(myChart, data.labels, data.data);
                },
                error:function(error) {
                  console.log('Error: ', error);
                }
              })
          } else {
            $('#dates').append("<option value=''>No Dates Recorded</option>");
            $('#tableBody').empty();
            removeData(myChart);
            
          }
        }

        function getDataRange() {
            var unit_id = $('#course').val();

            var dates = $('#dateRange').val().split(' - ').map(date => date.replace(/\//g, '-'));
            var start_date = dates[0];
            var end_date = dates[1];

            if (start_date && end_date) {
              $.ajax({
                url: `/get_attendance_dates/${unit_id}/${start_date}/${end_date}`,
                success: function(data) {
                  var students_attendance = data.students_attendance;
                  $('#tableBody').empty();
                  students_attendance.forEach(function(student){
                    $('#tableBody').append(`
                        <tr>
                        <td>${student.student_id}</td>
                        <td>${student.first_name}</td>
                        <td>${student.last_name}</td>
                        <td>${student.attended_on}</td>
                      </tr>
                      `)
                  })
                  removeData(myChart);
                  addData(myChart, data.labels, data.data);
                },
                error:function(error) {
                  console.log('Error: ', error);
                }
              })
          } else {
            $('#dates').append("<option value=''>No Dates Recorded</option>");
            $('#tableBody').empty();
            removeData(myChart);
            
          }



        }

        function updateDates(course) {
          $.ajax({
              url: `/get_unit_dates/${course}`,
              success: function(data) {
                $('#dates').empty();
                data.dates.forEach(function(date){
                  console.log('updateDates()');
                  $('#dates').append($('<option>', {
                    value: date,
                    text: date
                  }));
                });
                getData(course);
              },
              error: function(error) {
                console.log(error)
              }
            });
        }


        
        $('#dates').on('change', function(e){
            e.preventDefault();
            course = $('#course').val();
            getData(course);
        });

        $('#course').on('change', function(e){
            e.preventDefault();
            course = $('#course').val();
            updateDates(course);
        });

        var course = $('#course').val();
        updateDates(course);
    });
  </script>
{% endblock %}